!!!

html
  head
    title Air New Zealand Kiwi IQ
    meta(charset='utf-8')

    script
      if (navigator.userAgent.match(/(iPhone|iPod|iPad|Android|BlackBerry)/)) {
        location.href = '#{_c.G_URL}mobile';
      }

      if (navigator.userAgent.match(/MSIE/i)) {

        var v = navigator.userAgent.match(/MSIE ([0-9]+\.[0-9]+);/i)[1];

        if (v < 9) {
          location.href = '#{_c.G_URL}support';
        }

      }

    link(id='css', rel='stylesheet',href='css/main.css',type='text/css',media='all')
    link(id='css', rel='stylesheet',href='css/hint.css',type='text/css',media='all')

    script(type='text/javascript',src='/jst/lib/jquery-2.0.3.min.js')

    script(type='text/javascript',src='/jst/lib/jquery.cookie.js')
    script(type='text/javascript',src='/jst/register.js')
    script(type='text/javascript',src='/jst/rotate.js')
    script(type='text/javascript',src='/jst/game.js')
    script(type='text/javascript',src='/jst/dashboard.js')
    script(type='text/javascript',src='/jst/main.js')
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40174789-2']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();


  body



    <!-- Start of DoubleClick Floodlight Tag: Please do not remove Activity name of this tag: KiwiIQ_PageLoad URL of the webpage where the tag is expected to be placed: https://www.facebook.com/AirNewZealandUSA/app_467666166644037 This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.  Creation Date: 08/13/2013 -->
    script
      var axel = Math.random() + "";
      var a = axel * 10000000000000;
      document.write('<iframe src="http://4102345.fls.doubleclick.net/activityi;src=4102345;type=sfoqx745;cat=kiwii416;ord=1;num=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');

    noscript
      iframe(src="http://4102345.fls.doubleclick.net/activityi;src=4102345;type=sfoqx745;cat=kiwii416;ord=1;num=1?",width="1",height="1",frameborder="0",style="display:none")
      <!-- End of DoubleClick Floodlight Tag: Please do not remove -->

    .container
      block content
  #fb-root
  script

    game.images = !{imageJSON};
    game.imageCopy = !{imageCopyJSON};

    window.fbAsyncInit = function() {

      FB.init({
        appId      : '#{_c.FB_APPID}',
        cookie     : true,
        xfbml      : true,
        oauth      : true
      });

      FB.Canvas.setAutoGrow();

      _.sr = '#{_p.signed_request}';
      _.settings = !{settingsJSON};
      _.FB_URL = '#{_c.FB_URL}';
      _.uid = !{uid};
      _.i();

      if (_.sr == '') {
        //location.href = '#{_c.FB_URL}';
      }

    };

    (function(d){
       var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/en_US/all.js";
       d.getElementsByTagName('head')[0].appendChild(js);
     }(document));



